@use '../abstracts' as a;

button {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;

    &.primary {
        color: a.$milk;
        background-color: a.$chocolate;
        border-radius: 10px;

        &:hover,
        &:focus {
            color: a.$primary-font-color-light;
            background-color: a.$primary-background-color-dark;
        }
    }

    &.circle {
        border-radius: 100%;
        line-height: 1px;
        font-size: 12px;
        text-align: center;
        padding: 8px;

    }

    &.secondary {
        border-radius: 10px;
        color: a.$milk;
        background-color: a.$espresso;
    }
}