@use '../abstracts' as a;

.radio-standard {
    display: inline-block;
    padding-right: 15px;

    label.form-radio-label {
        padding: 11px 20px 9px;
        text-align: center;
        border-radius: 4px;
        border: solid 1px #000;

        &.selected, &:hover {
            background-color: a.$espresso;
            color: #FFF;
        }
    }
}
.radio-pill{
    display: inline-block;
    margin-left: 0px;
    &-start {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 25px !important;
        border-bottom-left-radius: 25px !important;
    }
    &-end{
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
    }
}
.radio-block{
    display: block;
    margin: 10px 0px;

    label.form-radio-label {
        padding: 11px 20px 9px;
        text-align: center;
        border-radius: 4px;
        border: solid 1px #000;

        &.selected, &:hover {
            background-color: a.$espresso;
            color: #FFF;
        }
    }
}