#logs
logs
.logs

#runtime
pids
*.pid
*.seed

#lib-cov
lib-cov

coverage
coverage-ts

.grunt

.lock-wscript

build/release

node_modules/
node_modules

npm-debug.log

.env

.DS_Store
Thumbs.db

.vscode/
.vscode/*

env.d.ts